<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste prático de programação - Smarkio</title>
    <style>
        body {
            background: white;
        }

        #boxmsg {
            background: rgb(206, 205, 205);
            float: left;
            position: static;
	        left: 29%;
	        transform: translate(22%, 65%);
            padding: 2%;
            width: 33%;
            margin: auto;
            text-align: center;
            font: normal 10pt Arial;
        }

        #boxposts {
            background: rgb(206, 205, 205);
            float: right;
            position: static;
	        right: -10%;
	        transform: translate(-25%, 11%);
            padding: 2%;
            width: 35%;
            margin: auto;
            text-align: center;
            font: normal 15pt Arial;
        }

        #hear{
            float: right;
        }
    </style>
</head>
<body> 
    <section id="boxmsg">
        <div id="addmsg">
            <form action="/add" method="POST">
            <h1>Comentário: </h1>
            <textarea name="mensagem"></textarea>
            <button type="submit" id="register">Cadastrar</button>
        </div> 
    </section>
    <h1></h1>
    <section id="boxposts">
        <h1>Comentários: </h1>

        <div id="showmsg">
            {{#each posts}}
            <p>{{dataValues.mensagem}}</p>
            <button id="hear">Ouvir</button>
            <hr>
            {{/each}}
        </div>
    </section>
</body>
</html>